h2 { margin: 15px; }
.expense-item {
    background: blueviolet;
    color: white;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
    margin: 15px;
    padding: 15px;
}
.expense-item__description {

}
.expense-item__description h3 {
    font-size: 24px;
}
.expense-item__price {
    padding: 5px;
    background: white;
    color: blueviolet;
    border-radius: 5px;
    max-width: 90px;
    margin-left: auto;
    text-align: center;
    font-weight: bold;
}